html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    margin: 0;
    height: 2.5%;
}

header h4 {
    font-size: 24px;
}

header ul li {
    list-style: none;
    float: left;
    padding: 15px;
}

header ul li a {
    color: #F9FAF8;
    text-decoration: none;
}

#section1 {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 25%;
    margin-top: 0;
    display: flex;
    padding-bottom: 100px;
    justify-content: space-around;
}

#section1 p {
    font-size: 18px;
    color: #E5E7EB;
}

#signupdiv {
    margin-top: 100px;
    height: 300px;
    width: 500px;
}

h1 {
    font-size: 44px;
    margin-top: 0;
}

#signupbtn1 {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: #F9FAF8;
    font-size: 1.25em;
    font-weight: bold;
    padding: 5px 30px;
}

#s1img {
    background-color: grey;
    height: 300px;
    line-height: 300px;
    margin-top: 100px;
    text-align: center;
    width: 500px;
}

button:hover {
    cursor: pointer;
}

#section2 h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2img {
    border: 4px solid #3882F6;
    border-radius: 20px;
    height: 165px;
    width: 165px;
}

#imagescontainer {
    max-width: 50%;
    margin: 25px auto;
    display: flex;
    justify-content: space-around;
}

#imagescontainer figure {
    max-width: 20%;
    margin: 10px 0;
    text-align: center;
}

#section3 {
    background-color: #E5E7Eb;
    color: #1F2937;
    height: 25%;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#section3 figure {
    max-width: 55%;
}

#s3figcap {
    float: right;
    font-size: 0.75em;
}

#section4 {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#s4subcontainer {
    width: 75%;
    border-radius: 20px;
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
}

#s4textdiv {
    max-width: 40%;
}

#s4textdiv h4 {
    margin-bottom: 0;
}
#s4textdiv p {
    margin-top: 0;
}

#s4button {
    border: 2.5px solid white;
    border-radius: 10px;
    font-size: 1.25em;
    font-weight: bold;
    padding: 6px 22.5px;
    background-color: transparent;
    color: #F9FAF8;

}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    height: 2.5%;
    text-align: center;
}